body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #0002;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.etaria {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.estrelas {
    font-size: 22px;
    color: gold;
}
